<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login EasyAdmin</title>
  <link rel="stylesheet" href="../Css/estiloslogin.css">
  <link rel="icon" href="../Imagenes/Favicon.ico">s
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Easy<span>Admin</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user" id="user"><br>
				<input type="password" placeholder="password" name="password" id="password"><br>
				<input type="button" value="Login">
		</div>
    <script src="../Jquery/jquery-1.11.1.min.js"></script>
</body>
</html>
