<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login EasyAdmin</title>
  <link rel="stylesheet" href="../Css/estiloslogin.css">
  <link rel="icon" href="../Imagenes/Favicon.ico">s
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Easy<span>Admin</span></div>
		</div>
		<br>
		<div class="login">
                <h1 class="Texto">Meser@/Cociner@</h1>
				<input type="text" placeholder="username" name="userMC" id="userMC"><br>
				<input type="password" placeholder="password" name="passwordMC" id="passwordMC"><br>
				<input type="button" value="Login">
		</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  
</body>
</html>
